---
layout: archive_smaller_font
author_profile: true
---

<script>window.twttr = (function(d, s, id) {
     var js, fjs = d.getElementsByTagName(s)[0],
         t = window.twttr || {};
           if (d.getElementById(id)) return t;
             js = d.createElement(s);
               js.id = id;
                 js.src = "https://platform.twitter.com/widgets.js";
                   fjs.parentNode.insertBefore(js, fjs);

                     t._e = [];
                       t.ready = function(f) {
                              t._e.push(f);
                                };

                                  return t;
}(document, "script", "twitter-wjs"));</script>

{% include base_path %}

<p>
<b>Welcome to IWoR 2018!</b>
</p>

<p>
The goal of the 1st International Workshop on Refactoring (IWoR 2018) is to provide an informal interactive forum for researchers and practitioners to exchange ideas and 
</p>

<p>
experiences, streamline and foster research on software refactoring, identify some common ground of their work, share lessons and challenges, thereby articulating a vision for 
</p>

<p>
the future of software refactoring.
</p>

<p>
Lars Grunske<br>
Tim Menzies<br>
Justyna Petke
</p>

{% include paginator.html %}

<hr>
<iframe src="https://docs.google.com/presentation/d/e/2PACX-1vTciDmJx5Av9AFhQgOp6p6yUdqvFUuPk2beUzf6Ji87-clc1QDPYypHQLpxCfWA1qbiqKC6N5fFtsMH/embed?start=false&loop=false&delayms=20000" frameborder="0" width="100%" height="299" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
