---
layout: archive_smaller_font
author_profile: true
---


<script>window.twttr = (function(d, s, id) {
     var js, fjs = d.getElementsByTagName(s)[0],
         t = window.twttr || {};
           if (d.getElementById(id)) return t;
             js = d.createElement(s);
               js.id = id;
                 js.src = "https://platform.twitter.com/widgets.js";
                   fjs.parentNode.insertBefore(js, fjs);

                     t._e = [];
                       t.ready = function(f) {
                              t._e.push(f);
                                };

                                  return t;
}(document, "script", "twitter-wjs"));</script>


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-116142780-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-116142780-1');
</script>


{% include base_path %}

<iframe src="https://docs.google.com/presentation/d/e/2PACX-1vTciDmJx5Av9AFhQgOp6p6yUdqvFUuPk2beUzf6Ji87-clc1QDPYypHQLpxCfWA1qbiqKC6N5fFtsMH/embed?start=false&loop=false&delayms=5000" frameborder="0" width="100%" height="299" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
<p>&nbsp;</p>
<div style="display: block; color: #00C; text-align: center; margin-right: auto; margin-left: auto; font-size: x-large;">
  <p><b style="line-height:normal">The 2nd International Workshop on Refactoring <Br>IWoR 2018<Br>September 4, 2018, Montpellier, France</b>  </p>
 </div> 
  <div style="display: block; text-align: center; margin-right: auto; margin-left: auto; font-size: large;">     
  <p>to be held in conjunction with the</p>
  <p><strong>33rd IEEE/ACM Automated Software Engineering Conference (<a href="http://ase2018.com/" target="_blank">ASE 2018</a>)</strong></p>
</div>


<p>&nbsp;
</p>
<p><b>Welcome to IWoR 2018!</b>
</p>
<p>We are pleased to announce <strong>IWoR 2018</strong>,  the 2nd edition of the international workshop dedicated to    <strong>software refactoring</strong>.</p>


<p>
The goal of the 2nd International Workshop on Refactoring (IWoR 2018) is to provide an informal interactive forum for researchers and practitioners to exchange ideas and 

experiences, streamline and foster research on software refactoring, identify some common ground of their work, share lessons and challenges, thereby articulating a vision for 

the future of software refactoring.
</p>

    <h2 id="workshop-summary">Workshop Overview</h2>

<p>Successful software products evolve through a process of continuous changes as bugs are fixed,
new features added, and quality issues addressed. Refactoring supports the volatile
software lifecycle by providing better ways to reduce and manage the growing complexity of
software systems while improving developer productivity. Refactoring can be performed at all
levels from requirement specification down to source code level, and, in essence, involves
improving the internal structure of a software artefact without altering its functionality.
In spite of the popularity of refactoring both in practice and as a research topic, many open
questions remain, particularly in terms of understanding how refactoring is performed, measuring
the impact of refactoring, and improving tool support in all areas of refactoring.</p>

    
    <h2 id="call-for-papers">Workshop Themes</h2>

<p>We invite submissions from both academia and industry on any topic that is refactoring
related, including, but not limited to:</p>

<ul>
  <li>Source code refactoring</li>
  <li>Requirement, design and architectural refactoring</li>
  <li>Refactoring of mobile, web and cloud applications</li>
  <li>Refactoring opportunities detection and recommendation</li>
  <li>Tool support for refactoring</li>
  <li>Mining refactoring changes from software repositories</li>
  <li>Evaluation and benchmarking of refactoring methods</li>
  <li>Refactoring in Model Driven Engineering</li>
  <li>Code smell detection and correction</li>
  <li>Search based refactoring</li>
  <li>Effect of refactoring on system complexity and quality</li>
  <li>Empirical studies and experience reports</li>
  <li>Software remodularization</li>
  <li>Model transformation</li>
  <li>Introduction of design patterns through refactoring</li>
  <li>Machine learning applied to software refactoring</li>
  <li>Role of refactoring in evolution and migration</li>
  <li>Refactoring in the software lifecycle</li>
  <li>Refactoring and testing</li>
</ul>
<h2 id="importantes-dates2">Important Dates</h2>
<hr />
<ul>
  <li>June 17: Deadline for submissions</li>
  <li>July 15: Notification of authors</li>
  <li>July 31: Camera-ready</li>
  <li>Sept 04: Workshop date.</li>
</ul>
<h2 id="submission">Submission</h2>

<hr />

<p>We solicit four types of submission: </p>

<ul>
  <li>Full research papers (max 8 pages)</li>
  <li>Position papers (max 4 pages)</li>
  <li>Tool demo papers (max 4 pages)</li>
  <li>Industrial presentation (max 2 pages)</li>
</ul>

<p> These different categories offer researchers who are at different stages in their research maturity the opportunity to benefit from workshop participation. Page limits include references.</p>
<p>All paper submissions will be reviewed by three program committee members. The authors of accepted submissions will be asked to join the workshop. We will encourage all participants to submit a paper of any of the four categories,  but the workshop will be open. All interested parties are welcome to register, even without an accepted paper.</p>
<p>All submissions must be formatted according to the <strong>IEEE Conference Proceedings Formatting Guidelines </strong>(title in 24pt font and full text in 10pt font, LaTEX users must use 
     <font face="Courier New" >\documentclass[10pt,conference]{IEEEtran} </font> 
     without including the compsoc or compsocconf option) and should be submitted through EasyChair at:</p>

<p> <a href="https://easychair.org/conferences/?conf=iwor2018" target="_blank">https://easychair.org/conferences/?conf=iwor2018</a>
  </p>


<h2>Proceedings and Special Issue</h2>
<hr />
<p>Accepted papers will be published in the workshop proceedings in the IEEE digital library.</p>
<p>A selection of the best papers will be invited to submit extended versions for tentative publication in a Special
  Issue of a journal (to be confirmed).</p>
<h2 id="accepted-papers">Accepted Papers </h2>
<hr />

<p> To be announced.</p>
 <h2 id="key-notes">Keynote Speaker </h2><hr />

 <p> To be announced.</p>
<h2 id="program">Program </h2>
 <hr />
 <p> To be announced.</p>

<h2 id="workshop-organizers">Workshop Organizers</h2>
<hr />
     
 <table width="718" border="0">
  <tr>
    
    <td width="98"><img src="images/aouni.png" width="159" height="220" alt="Ali Ouni" /></td>
    <td width="635">
         <div style="font-size: medium;">
              <p><a href="http://ouniali.github.io" target="_blank">Ali Ouni</a></br>
    ETS Montreal, University of Quebec, Canada</p></div> </td>
  </tr>
  <tr>
    
    <td><img src="images/kessentini.png" width="113" height="145" border="0"/></td>
    <td><p><div style="font-size: medium;"><a href="http://www-personal.umd.umich.edu/~marouane/" target="_blank">Marouane Kessentini</a></br>
       University of Michigan, USA</p></div></td>
  </tr>
  <tr>
    
    <td><img src="images/mel.png" width="113" height="145" border="0"/></td>
    <td><p><div style="font-size: medium;"><a href="https://www.cs.ucd.ie/AcademicProfile/Mel_O_Cinneide/" target="_blank">Mel &Oacute; Cinn&eacute;ide</a></br>
       University College Dublin, Ireland</p></div></td>
  </tr>
</table>    
     



  
<h2 id="Publicity chairs">Publicity Chairs</h2>
<hr />

<table width="718" border="0">
  <tr>
    
    <td width="90"><img src="images/felienne.jpg" width="149" height="199" /></td>
    <td width="635"><div style="font-size: medium;"><p><a href="http://www.felienne.com" target="_blank">Felienne Hermans</a></br>
       Delft University of Technology, the Netherlands</p></div></td>
  </tr>
  <tr>
    
    <td><img src="images/mkaouer.png" width="113" height="145" border="0"/></td>
    <td><p><div style="font-size: medium;"><a href="http://www.se.rit.edu/~mwm/" target="_blank">Wiem Mkaouer</a></br>
       Rochester Institute of Technology, USA</p></div></td>
  </tr>
</table>    

<h2 id="web-chair">Web Chair</h2>
<hr />

<table width="718" border="0">
  <tr>
    
    <td width="90"><img src="images/mhilali.jpg" width="129" height="169" /></td>
    <td width="635"><div style="font-size: medium;"><p><a href="https://github.com/hilali-msc" target="_blank">Mohammed Hilali</a></br>
       ETS Montreal, University of Quebec, Canada </p></div></td>
  </tr>
</table>    


<h2 id="program-commitee">Program Commitee</h2>
  <hr />
  <p> To be announced.</p>
  
{% include paginator.html %}

<hr>

