<style type="text/css">
.sidebar p b {
	font-size: medium;
}
</style>
{% include base_path %}

<link rel="stylesheet" href="../css/calendar_icon.css">

{% if page.author_profile or layout.author_profile or page.sidebar %}
  <div class="sidebar">




  <!--<p><b>Important Dates</b></p>-->
  <!--<p><b>Research Track</b><br>-->
  <center>
	  
  <p><strong>Welcome to the 2nd International workshop on Refactoring (IWoR 2018)</strong></p>
  <p>&nbsp;</p>
  
    <p> IWoR 2018 will be hosted in Montpellier, France, September 4th.</p>
    <p> The workshop will be co-located with <a href="http://ase2018.com/" target="_blank">ASE 2018</a></p>
    
  </center>
  <p>&nbsp;</p>
  <p><b>Important Dates</b><br>
    	June 17: Deadline for submissions<br>
    	July 15: Notification of authors<br>
    	July 31: Camera-ready<br>
    	Sept 04: Workshop date<br>
  </p>

  <a href="https://easychair.org/conferences/?conf=iwor2018" class="btn btn--block">Submit Here</a>


  </div>
{% endif %}
