{% include base_path %}

<link rel="stylesheet" href="../css/calendar_icon.css">

{% if page.author_profile or layout.author_profile or page.sidebar %}
  <div class="sidebar">




  <!--<p><b>Important Dates</b></p>-->
  <!--<p><b>Research Track</b><br>-->
  <p><b>Important Dates</b><br>
    	June 03: Deadline for submissions<br>
    	July 08: Notification of authors<br>
    	July 31: Camera-ready<br>
    	Sept 04: Workshop date.<br>
  </p>

  <a href="https://easychair.org/conferences/?conf=iwor2018" class="btn btn--block">Submit Here</a>


  </div>
{% endif %}
